body {
    width: 400px;
}

.m-0 {
    margin: 0!important
}

.p-1 {
    padding: 0.25rem!important
}

.p-2 {
    padding: 0.50rem!important
}

.p-3 {
    padding: 1rem!important
}

.px-3 {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}

.pb-3 {
    padding-bottom: 1rem!important;
}

.mt-2 {
    margin-top: 0.50rem!important
}

.mt-3 {
    margin-top: 1rem!important
}

.mr-1 {
    margin-right: 0.25rem!important
}

.mr-2 {
    margin-right: 0.50rem!important
}

.my-1 {
    margin-top: 0.25rem!important;
    margin-bottom: 0.25rem!important;
}

.my-2 {
    margin-top: 0.50rem!important;
    margin-bottom: 0.50rem!important;
}

.my-3 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}

m-0 {
    margin: 0rem!important;
}

.row {
  display: flex;
}

.column-80 {
  flex: 80%;
}

.column-20 {
  flex: 20%;
}

.column-100 {
  flex: 100%;
}

.text-right {
    text-align: right;
}

.align-bottom {
    vertical-align: bottom;
}

.border {
    border: solid 1px black;
}

.word-break {
    word-wrap: break-word;
}

.success {
    color: #81C784;
}

.warning {
    color: #FFF176;
}

.danger {
    color: #E57373;
}


input {
    border-radius: 3px;
    font-size: 120%;
    width: 300px;
    border: 1px solid black;
    font-family: monospace;
}
