body {
    width: 500px;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

/*
form {
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    background-color: #E8E8E8;
    flex-wrap: wrap;
}
*/

input {
    border-radius: 3px;
    margin: 10px;
    font-size: 120%;
    width: 150px;
    height: 5%;
    padding: 10px;
    border: none;
    border: 1px solid black;
    font-family: monospace;
}

button {
    background-color: #cccccc;
    border-radius: 5px;
    border: none;
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 10px;
    margin-top: 1%;
}

.my-1 {
    margin-top: 0.25rem!important;
    margin-bottom: 0.25rem!important;
}